permissions:
  contents: write
on:
  push:
    paths:
      - '_releases/*'
      - .github/**/*
  workflow_dispatch:
    inputs:
      oses:
        description: "Space-delimited list of targets to run tests on, e.g. `debian13 ubuntu2404`. \
          Available images:\n
          `debian11 debian12 debian13 \
          ubuntu2204 ubuntu2404 ubuntu2504 ubuntu2510 \
          fedora41 fedora42 fedora43 \
          windows10 windows11 \
          macos12 macos13 macos14 macos15 macos26`.\n
          Default images:\n
          `ubuntu2204 ubuntu2404 ubuntu2504 ubuntu2510 \
          debian13 fedora42 fedora43 windows10 windows11 \
          macos13 macos14 macos15 macos26`."
        default: ''
        required: false
        type: string
      tests:
        description: "Tests to run (defaults to all if empty)"
        default: ''
        required: false
        type: string
jobs:
  prepare-matrices:
    name: Prepare virtual machines
    runs-on: ubuntu-latest
    steps:
      - name: Generate matrix for Linux builds
        shell: bash
        run: |
          # A list of VMs to run the tests on. These refer to the names defined
          # in $XDG_CONFIG_DIR/mullvad-test/config.json on the runner.
          all='["debian11","debian12","debian13","ubuntu2204","ubuntu2404","ubuntu2504","ubuntu2510","fedora41","fedora42","fedora43"]'
          default='["debian13","ubuntu2204","ubuntu2404","ubuntu2504","ubuntu2510","fedora42","fedora43"]'
          oses="${{ github.event.inputs.oses }}"
          echo "OSES: $oses"
          if [[ -z "$oses" || "$oses" == "null" ]]; then
            selected="$default"
          else
            oses=$(printf '%s\n' $oses | jq . -R | jq . -s)
            selected=$(jq -cn --argjson oses "$oses" --argjson all "$all" '$all - ($all - $oses)')
          fi
          echo "Selected targets: $selected"
          echo "linux_matrix=$selected" >> $GITHUB_ENV
      - name: Generate matrix for Windows builds
        shell: bash
        run: |
          all='["windows10","windows11"]'
          default='["windows10","windows11"]'
          oses="${{ github.event.inputs.oses }}"
          if [[ -z "$oses" || "$oses" == "null" ]]; then
            selected="$default"
          else
            oses=$(printf '%s\n' $oses | jq . -R | jq . -s)
            selected=$(jq -cn --argjson oses "$oses" --argjson all "$all" '$all - ($all - $oses)')
          fi
          echo "Selected targets: $selected"
          echo "windows_matrix=$selected" >> $GITHUB_ENV
      - name: Generate matrix for macOS builds
        shell: bash
        run: |
          all='["macos12","macos13","macos14","macos15","macos26"]'
          default='["macos13","macos14","macos15","macos26"]'
          oses="${{ github.event.inputs.oses }}"
          if [[ -z "$oses" || "$oses" == "null" ]]; then
            selected="$default"
          else
            oses=$(printf '%s\n' $oses | jq . -R | jq . -s)
            selected=$(jq -cn --argjson oses "$oses" --argjson all "$all" '$all - ($all - $oses)')
          fi
          echo "Selected targets: $selected"
          echo "macos_matrix=$selected" >> $GITHUB_ENV
    outputs:
      linux_matrix: ${{ env.linux_matrix }}
      windows_matrix: ${{ env.windows_matrix }}
      macos_matrix: ${{ env.macos_matrix }}

  prepare-linux:
    name: Prepare Linux build container
    needs: prepare-matrices
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Use custom container image if specified
        if: ${{ github.event.inputs.override_container_image != '' }}
        run: echo "inner_container_image=${{ github.event.inputs.override_container_image }}"
          >> $GITHUB_ENV
      - name: Use default container image and resolve digest
        if: ${{ github.event.inputs.override_container_image == '' }}
        run: |
          echo "inner_container_image=$(cat ./building/linux-container-image.txt)" >> $GITHUB_ENV
    outputs:
      container_image: ${{ env.inner_container_image }}

  build-linux-app:
    name: Build Linux App
    needs: [prepare-linux, get-app-version]
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.prepare-linux.outputs.container_image }}
    continue-on-error: true
    steps:
      # Fix for HOME path overridden by GH runners when building in containers, see:
      # https://github.com/actions/runner/issues/863
      - name: Fix HOME path
        run: echo "HOME=/root" >> $GITHUB_ENV
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Checkout submodules
        run: |
          git config --global --add safe.directory '*'
          git submodule update --init --depth=1
      - uses: actions/cache@v4
        id: cache-app-cargo-artifacts
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build app
        run: |
          export CARGO_TARGET_DIR=target/
          ./build.sh --optimize
      - name: Upload app
        uses: actions/upload-artifact@v4
        if: '!cancelled()'
        with:
          name: linux-build
          path: |
            ./dist/*.rpm
            ./dist/*.deb
            ./dist/app-e2e-*
      - name: Release app
        uses: ncipollo/release-action@v1
        if: '!cancelled()'
        with:
          allowUpdates: true
          artifacts: "./dist/*.rpm,./dist/*.deb,./dist/*.exe,./dist/*.pkg"
          tag: ${{needs.get-app-version.outputs.mullvad-version}}

  get-app-version:
    name: Get app version
    needs: prepare-linux
    runs-on: ubuntu-latest
    outputs:
      mullvad-version: ${{ steps.cargo-run.outputs.mullvad-version }}
    container:
      image: ${{ needs.prepare-linux.outputs.container_image }}
    if: |
      !cancelled()
    steps:
      # Fix for HOME path overridden by GH runners when building in containers, see:
      # https://github.com/actions/runner/issues/863
      - name: Fix HOME path
        run: echo "HOME=/root" >> $GITHUB_ENV
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run mullvad-version
        id: cargo-run
        run: |
          # `mullvad-version` uses tags to compute the dev-suffix, so we must fetch them
          git config --global --add safe.directory '*'
          git fetch --tags --prune-tags --force > /dev/null
          version=$(cargo run --package mullvad-version -q)
          echo "Mullvad VPN app version: '$version'"
          echo "mullvad-version=$version" >> "$GITHUB_OUTPUT"
        shell: bash


  build-windows:
    name: Build Windows
    needs: [prepare-matrices, get-app-version]
    runs-on: windows-latest
    steps:
      # By default, the longest path a filename can have in git on Windows is 260 character.
      - name: Set git config for long paths
        run: |
          git config --system core.longpaths true
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: ./.github/actions/mullvad-build-env
      - name: Build app
        shell: bash
        run: |
          ./build.sh
          # FIXME: Strip architecture-specific suffix. The remaining steps assume that the windows installer has no
          # arch-suffix. This should probably be addressed when we add a Windows arm runner. Or maybe it will just keep
          # on working ¯\_(ツ)_/¯
          pushd dist
          original_file=$(find *.exe)
          new_file=$(echo $original_file | perl -pe "s/^(MullvadVPN-.*?)(_x64|_arm64)?(\.exe)$/\1\3/p")
          mv "$original_file" "$new_file"
          popd
      - uses: actions/upload-artifact@v4
        if: '!cancelled()'
        with:
          name: windows-build
          path: .\dist\*.exe
      - name: Release app
        uses: ncipollo/release-action@v1
        if: '!cancelled()'
        with:
          allowUpdates: true
          artifacts: "./dist/*.rpm,./dist/*.deb,./dist/*.exe,./dist/*.pkg"
          tag: ${{needs.get-app-version.outputs.mullvad-version}}

  build-macos:
    name: Build macOS
    needs: [prepare-matrices, get-app-version]
    if: |
      needs.prepare-matrices.outputs.macos_matrix != '[]' &&
      needs.prepare-matrices.outputs.macos_matrix != ''
    runs-on: [macOS] # app-test-macos-arm
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: ./.github/actions/mullvad-build-env
      - name: Build app
        run: ./build.s
      - uses: actions/upload-artifact@v4
        if: '!cancelled()'
        with:
          name: macos-build
          path: |
            ./dist/*.pkg
            ./dist/app-e2e-*
      - name: Release app
        uses: ncipollo/release-action@v1
        if: '!cancelled()'
        with:
          allowUpdates: true
          artifacts: "./dist/*.rpm,./dist/*.deb,./dist/*.exe,./dist/*.pkg"
          tag: ${{needs.get-app-version.outputs.mullvad-version}}
